Repository projetoKhali/api3, pull requests merged in 2023-10, with the labels that each got.

#131 Feat: Desativação/Ativação de Usuário
  api/sql/ddl/table.sql
  api/src/main/java/com/khali/api3/controllers/UserController.java
  api/src/main/java/com/khali/api3/domain/client/Client.java
  api/src/main/java/com/khali/api3/domain/member/MemberPrimaryData.java
  api/src/main/java/com/khali/api3/domain/pay_rate_rule/PayRateRule.java
  api/src/main/java/com/khali/api3/domain/resultCenter/ResultCenter.java
  api/src/main/java/com/khali/api3/domain/user/User.java
  api/src/test/resources/JPAtests.java
Labels: User, Back End

#117 Atualização DDL
  api/sql/ddl/table.sql
  api/sql/ddl/views.sql
Labels: database

#143 Project - Entrega final
  api/sql/ddl/table.sql
  api/sql/ddl/views.sql
  api/src/main/java/com/khali/api3/controllers/ProjectController.java
  api/src/main/java/com/khali/api3/domain/appointment/Appointment.java
  api/src/main/java/com/khali/api3/domain/member/MemberPrimaryData.java
  api/src/main/java/com/khali/api3/domain/project/Project.java
  api/src/main/java/com/khali/api3/repositories/ProjectRepository.java
  api/src/main/java/com/khali/api3/repositories/ResultCenterRepository.java
  api/src/main/java/com/khali/api3/services/ProjectService.java
  web/src/App.tsx
  web/src/components/ProjectForm.tsx
  web/src/pages/Projects.tsx
  web/src/schemas/Project.ts
  web/src/services/ProjectService.ts
Labels: project, Back End, Front End

#146 Atualização de Banco de Dados
  api/sql/ddl/table.sql
  api/src/main/java/com/khali/api3/controllers/UserController.java
  api/src/main/java/com/khali/api3/domain/user/User.java
  api/src/main/java/com/khali/api3/domain/user/UserType.java
Labels: Back End, database

#132 Appointments front dropdowns
  Makefile
  api/src/main/java/com/khali/api3/controllers/ResultCenterController.java
  api/src/main/java/com/khali/api3/repositories/UserRepository.java
  web/src/components/AppointmentForm.tsx
  web/src/components/AppointmentTypeDropdown.tsx
  web/src/components/Dropdown.tsx
  web/src/models/ResultCenterData.ts
  web/src/models/User.ts
  web/src/pages/Projects.tsx
  web/src/schemas/Appointment.ts
  web/src/schemas/DropdownOption.ts
  web/src/services/ProjectService.ts
Labels: Update, enhancement, appointment, Front End

#150 feat: Custom Table Cells
  file_history
  hs_err_pid143680.log
  web/src/components/ButtonTableCell.tsx
  web/src/components/EditableTableCell.tsx
  web/src/pages/Clients.tsx
  web/src/pages/Login.tsx
  web/src/pages/Projects.tsx
  web/src/pages/ResultCenters.tsx
  web/src/pages/Users.tsx
Labels: enhancement, Front End, param

#126 Feat: Criptografia
  api/pom.xml
  api/src/main/java/com/khali/api3/domain/user/Cryptography.java
  api/src/main/resources/application.properties
  api/src/test/resources/CryptographyTest.java
Labels: Back End

#158 Readme
  README.md
Labels: documentation

#157 feat: Adicionar membros a ResultCenter
  api/src/main/java/com/khali/api3/controllers/MemberController.java
  api/src/main/java/com/khali/api3/controllers/UserController.java
  api/src/main/java/com/khali/api3/domain/resultCenter/ResultCenter.java
  api/src/main/java/com/khali/api3/repositories/UserRepository.java
  web/src/components/ResultCenterForm.tsx
  web/src/components/SchemaList.tsx
  web/src/schemas/Member.ts
  web/src/schemas/ResultCenter.ts
  web/src/services/MemberService.ts
  web/src/services/ResultCenterService.ts
  web/src/services/UserService.ts
Labels: Update, enhancement, User, Back End, Front End, Entity, Endpoint, resultCenter

#159 Validation front
  api/src/main/java/com/khali/api3/controllers/AppointmentController.java
  api/src/main/java/com/khali/api3/repositories/AppointmentRepository.java
  api/src/main/java/com/khali/api3/services/AppointmentService.java
  web/src/components/AppointmentForm.tsx
  web/src/components/PopUpField.tsx
  web/src/pages/ManagerAppointments.tsx
  web/src/schemas/Appointment.ts
  web/src/services/AppointmentService.ts
Labels: Update, appointment, Front End

#151 Atualização de método para desabilitar usuário
  api/sql/ddl/user.sql
  api/src/main/java/com/khali/api3/controllers/UserController.java
  api/src/main/java/com/khali/api3/domain/member/Member.java
  api/src/main/java/com/khali/api3/domain/user/Cryptography.java
  api/src/main/java/com/khali/api3/domain/user/User.java
  api/src/main/java/com/khali/api3/services/MembersService.java
  api/src/main/resources/application.properties
Labels: User, Back End

#165 Correção de erros da sprint 2
  .env.schema
  .gitignore
  Docs/Banners/Component 9.png
  Docs/Banners/Produto.png
  README.md
  api/sql/ddl/data.sql
  api/sql/ddl/table.sql
  api/sql/ddl/views.sql
  api/src/main/java/com/khali/api3/controllers/AppointmentController.java
  api/src/main/java/com/khali/api3/domain/appointment/Appointment.java
  api/src/main/java/com/khali/api3/domain/client/Client.java
  api/src/main/java/com/khali/api3/repositories/AppointmentRepository.java
  api/src/main/resources/application.properties
  docs/Banners/Api.png
  docs/Banners/Api3.png
  docs/Banners/Documentação BD.pdf
  docs/Banners/ERD.PNG
  docs/Banners/Entidade-Relacionamento.png
  docs/Banners/ProdutoK.png
  docs/Banners/Projeto.png
  docs/Banners/equipe.png
  docs/burndown/sprint_2.png
  pgconnect.sh
  web/src/components/AppointmentForm.tsx
  web/src/components/Dropdown.tsx
  web/src/components/ResultCenterForm.tsx
  web/src/pages/UserAppointments.tsx
  web/src/schemas/Appointment.ts
  web/src/services/Access.ts
  web/src/services/ClientService.ts
Labels: bug, documentation, Update, User, controller, appointment, Back End, Front End, Entity, Endpoint, repository, database, param

#169 fix: annotations for domain fields that have `DEFAULT` in the DDL
  api/src/main/java/com/khali/api3/domain/appointment/Appointment.java
  api/src/main/java/com/khali/api3/domain/client/Client.java
  api/src/main/java/com/khali/api3/domain/member/Member.java
  api/src/main/java/com/khali/api3/domain/parameter/Parameter.java
  api/src/main/java/com/khali/api3/domain/pay_rate_rule/PayRateRule.java
  api/src/main/java/com/khali/api3/domain/project/Project.java
  api/src/main/java/com/khali/api3/domain/resultCenter/ResultCenter.java
  api/src/main/java/com/khali/api3/domain/user/User.java
  web/src/pages/ManagerAppointments.tsx
Labels: bug, project, User, appointment, Back End, Entity, database, resultCenter

#170 refactor: Atualização de apontamento
  api/sql/ddl/table.sql
  api/src/main/java/com/khali/api3/controllers/AppointmentController.java
  api/src/main/java/com/khali/api3/domain/appointment/Appointment.java
  api/src/main/java/com/khali/api3/repositories/AppointmentRepository.java
Labels: appointment, Back End, Endpoint

#180 Refactor: <readme.md> atualização do backlog do produto
  README.md
Labels: documentation

#172 Notification
  api/sql/ddl/table.sql
  api/src/main/java/com/khali/api3/controllers/AppointmentController.java
  api/src/main/java/com/khali/api3/controllers/UserController.java
  api/src/main/java/com/khali/api3/domain/member/Member.java
  api/src/main/java/com/khali/api3/domain/notification/Notification.java
  api/src/main/java/com/khali/api3/repositories/AppointmentRepository.java
  api/src/main/java/com/khali/api3/repositories/NotificationRepository.java
  api/src/main/java/com/khali/api3/services/MembersService.java
  api/src/main/resources/application.properties
  web/src/App.tsx
  web/src/components/Notification.tsx
  web/src/pages/Layout.tsx
  web/src/pages/ManagerAppointments.tsx
  web/src/schemas/Appointment.ts
  web/src/services/Access.ts
  web/src/services/AppointmentService.ts
Labels: appointment, Back End, Front End
